<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <style>
      .password { font-weight: bold; }
    </style>
  </head>
  <body>
    <h2>Hello {{name}}!</h2>
    <p>Your manufacturer account has been created. Please find your credentials
      below.</p>
    <br />
    <div>
      <span>Your password is </span>
      <span class="password">{{password}}</span>
    </div>
    <br />
  </body>
</html>